# Preferences
CLOSE_TASK_WHEN_ISSUE_CLOSED=false
DEPLOY_TASK_WHEN_ISSUE_CLOSED=true

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Contentful
CONTENTFUl_ACCESS_TOKEN= # https://www.contentful.com/developers/docs/references/authentication/
CONTENTFUL_SPACE_ID=

# Asana
ASANA_ACCESS_TOKEN= # https://asana.com/developers/documentation/getting-started/auth

# GitLab
GITLAB_ACCESS_TOKEN= # https://gitlab.com/profile/personal_access_tokens

# Slack
SLACK_ACCESS_TOKEN=

# The Serverless generated gateway URL for local invoking
GATEWAY_URL=https://******.execute-api.******.amazonaws.com/dev

# Sentry
SENTRY_DSN=
SENTRY_ORGANIZATION=
SENTRY_PROJECT=
SNETRY_AUTH_TOKEN=